body {
   
}
/* style van de menu balk */
.menu {
    
    /* bepaald de positie */
    
    position: fixed;
    top: 0px;
    left: 0px;
    
    /* bepaald de groote */
    
    height: auto;
    width: 100%;
    
    /* achtergrond kleur van de menu balk */
    background-color: gray;
    
  
   
    
}

/* Het logo in de menu balk */
.logo {
    height: auto;
    width: 10%;
    vertical-align: middle;
}

.Menu_links {
      /* text opmaak */
    text-decoration: none;
    color: black;
  
}

